.button {
  border: 1px solid white;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.increase {
  background-color: #ffa9c6;
}

.decrease {
  background-color: #ffb9d1;
}